#Vui lòng thay toàn bộ các vị trí có [REPLACE-THIS] (không để lại ngoặc vuông "[]")
#Khi hoàn thành đổi tên file này từ env.example -> .env


#============================================================
# CẤU HÌNH BOT DISCORD
#============================================================

# Token/client ID bot Discord (https://discord.com/developers/)
DISCORD_TOKEN=[REPLACE-THIS]
CLIENT_ID=[REPLACE-THIS]

# ID server (guild) bot được phép hoạt động
GUILD_ID=[REPLACE-THIS]

# Những người dùng được phép sử dụng lệnh (ngăn cách bằng dấu phẩy ",", không có khoảng trống)
AUTHORIZED_USERS=[REPLACE-THIS],[REPLACE-THIS]


#============================================================
# THÔNG TIN TÀI KHOẢN
#============================================================

# Mã BIN lấy từ: https://www.indovinabank.com.vn/sites/default/files/banks_napas_card%20(TV%2009-02-2023)_1.pdf
# hoặc lấy từ file bin-code-list.txt
# Lưu ý: Lấy mã Thẻ ghi nợ nội địa (hoặc có thể Thẻ ghi nợ/ATM [tên ngân hàng]) - KHÔNG lấy mã thẻ VISA/MASTER CARD...
BANK_BIN=[REPLACE-THIS]

# Tên ngân hàng xuất hiện trên embed (ghi thế nào cũng được nhưng ghi đúng để người dùng so sánh)
BANK_NAME=[REPLACE-THIS]

# Số tài khoản
ACCOUNT_NO=[REPLACE-THIS]

# Tên tài khoản (ghi thế nào cũng được nhưng ghi đúng để người dùng so sánh)
ACCOUNT_NAME=[REPLACE-THIS]


#============================================================
# CÀI ĐẶT NÂNG CAO
#============================================================

# Prefix bot (VD: nếu để là "!" thì lệnh sẽ là !pay)
PREFIX=!
